<header class="header"> 
    <div class="header_container flex">
        <p>
            <a href="/articles"  class="logo">Medium</a>
        </p>
    
        <ul class="navlinks">
            <li> <a href="/articles">Home</a></li>
            <li>
                <a href="/articles/new"> <button class="btn"> Publish</button> </a>
            </li>
        </ul>
    </div>
</header>