<header class="header"> 
    <div class="header_container flex">
        <p>
            <a href="/articles"  class="logo">Medium</a>
        </p>
    
        <ul class="navlinks">
            <li> <a href="/articles">Home</a></li>
            <li>
                <% if(currentUser) { %>
                    <a href="/users/<%= currentUser.id %>/myarticles"> Profile</a>
                <% } %>
            </li>

            <li>
                <a href="/users/logout"> Log Out</a>
            </li>

            
        </ul>
    </div>
</header>