<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<div class="container">

    <form action="/articles" method="POST" class="form">

        <input type="text" placeholder="Title" name="title" class="title">
        <textarea name="description" placeholder="Tell your story..." rows="1000" required class="desc"></textarea>
        
        <div class="flex">
            <input type="text" placeholder="Author:" name="author" class="author">
            <input type="text" placeholder="Tags:" name="tags" class="tags">
        </div>

        <input type="submit" value="Post" class="btn post_btn">
        
    </form>
    
</div>

<%-include('partials/footer')-%>