<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,700&family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap" rel="stylesheet">

</head>
<body class="reg_body">
    
    <header class="header reg_header"> 
        <div class="header_container">

            <p>
                <a href="/articles"  class="reg_logo">Medium</a>
            </p>

        </div>
    </header>
    
    
    <section class="user_reg_sec">
        
        <div class="container">
    
            <div class="form_wrapper">
    
                <h2 class="reg_heading">Join Medium.</h2>
                <p class="reg_para">
                    Create an account to receive great stories in your inbox, personalize your hompage, and follow authors and topics that you love.
                </p>
    
                <form action="/users/register" class="user_reg_form" method="POST" enctype="multipart/form-data">
                    <label class="reg_label"> Your full name </label>
                    <input type="text" name="name" class="reg_input">

                    <label class="reg_label"> Username </label>
                    <input type="text" name="username" class="reg_input">
    
                    <label class="reg_label">Your email</label>
                    <input type="email" name="email" class="reg_input">

                    <label class="reg_label">Your password</label>
                    <input type="password" name="password" class="reg_input">

                    <label class="reg_label">Your Image</label>
                    <input type="file" name="avatar" >
                    
                    <input type="submit" value="Create account" class="reg_submit">
                </form>
                <p class="reg_signin_msg"> Already have an account? <a href="/users/login"><span class="green_link">Sign in</span></a></p>
            </div>
            
        </div>
    </section>

</body>    
</html>


