<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<div class="container">
    <h1 class="msg"><%= msg %></h1>
    <a href="/articles"> <button class="back btn">Back</button></a>
</div>


<%-include('partials/footer')-%>