/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  outline: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 784px;
  margin: 0 auto;
}

.blog_container {
  max-width: 660px;
  margin: 0 auto;
}

/* Nav Bar */

.header {
  background-color: rgb(36,41,46);
  margin-bottom: 30px;
}

.header .btn {
  margin: 0px;
  border-radius: 2px;
  padding: 6px 10px;
}

.logo {
  font-size: 30px;
  color: #fff;
}

.header_container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 0;
}

.header .flex {
  margin-top: 0px;
}

.navlinks {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.navlinks li{
  margin-left: 50px;
}

.navlinks li a {
  color: #fff;
}

.navlinks li a:hover {
  color: rgb(57,169,124);
}

/* Form */

.form {
  margin-top: 100px;
}

input, .btn, textarea {
  outline: 0px;
  border: none;
}


.form input:focus {
  border-left: 1px solid #777 ;
}

.form input {
  display: block;
}

.title {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  font-size: 40px;
  border-left: 0.5px solid rgb(206, 206, 206);
}

.desc {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  font-size: 22px;
  resize: none;
  height: 58vh;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
}

.tags {
  flex-basis: 48%;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(242,242,242)
}

.author {
  flex-basis: 48%;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(247, 247, 247);
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  margin-top: 55px;
  background-color: rgb(57,169,124);
  color: #fff;
  cursor: pointer;

  font-weight: bold;
  border-radius: 5px;
  
}

/* Show Content */

.heading {
  font-size: 48px;
}

.blog_content {
  background-color: #fff;
}

.author_name {
  font-size: 17px;
}

.content_flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 95%;
}

.edit {
  margin: 0px 15px;
}

.para {
  margin: 15px 0;
  font-size: 18px;
  
}

.date {
  font-size: 14px;
}

.show_tag {
  margin-right: 15px;
  background-color: rgb(242,242,242);
  padding: 5px;
  color: rgb(151,121,129);
  border-radius: 2px;
}

.side a, .side .likes {
  font-size: 30px;
  display: block;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1240px;
}

.side {
  
  align-self: center;
  position: fixed;
  left: 45px;
  top: 280px;
}

/* Home Page */

.article_title {
  font-size: 28px;
  font-weight: 500;
}

.create_date {
  font-size: 12px;
  color: rgb(105, 105, 105);
  margin: 2px 0;
}

.article_desc {
  font-size: 13px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid rgb(243, 240, 240); */
  color: rgb(71, 71, 71);
}

.upvote {
  background-color: rgb(252, 252, 252);
  padding: 10px;
}

.card {
  width: 100%;
  margin: 35px auto;
  padding: 10px;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 100px;
}

.articleHome_card_flex {
  display: flex;
  width: 100%;
  justify-content:space-between
}

.card_article_info {
  flex-basis: 15%;
  text-align: left;
}

.card_article_desc {
  flex-basis: 80%;
  border-top: 3px solid orange;
  /* border-radius: 50%;
   */
  /* border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px; */

  border-radius: 2px;
  padding-top: 15px;
}

.articleHome_btn_wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end; 
  margin-top: 30px;
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;
  
}

.articleHome_btn {
  outline: 0;
  font-size: 15px;
  width: 30%;
  margin-top: 10px;
  margin-right: 30px;
  text-transform: uppercase;
  background: rgb(242,242,242);
  border: none;
  overflow: hidden;
  padding: 10px 3px;
  position: absolute;
  z-index: 1;
  border-radius: 25px;
  box-shadow: -1px 0px 0 3px rgb(245, 245, 245),
  1px 0px 3px rgb(8,8,8);
  
}

.articleHome_btn::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  /* background: #3498db; */
  /* background: rgb(242,242,242); */
  transition: 1s ease-in-out;
  transform: rotate(-135deg);
  z-index: -1;

}

.articleHome_btn:hover::before {
  left: 100%;
  z-index: -1;
}


/* Message */

.error_msg {
  font-size: 28px;
}

.msg {
  font-size: 50px;
  text-align: center;
}

.post_btn {
  margin-bottom: 100px;
}


/* Comment Card */

.user_icon {
  margin-right: 5px;
  font-size: 38px;
  color: rgb(66,116,224);
  /* background-color: rgb(160,194,252); */

}

.comment_author {
  color: rgb(111,172,126);
  font-weight: 550;
  font-size: 12px;
}

.feedback {
  color: rgb(95,103,111);
  font-size: 18px;
  padding: 15px 0px;
}

.user_comment {
  margin-top: 12px;
}

.comment_card {
  
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border: 1px solid rgb(232,232,232);
  border-radius: 2px;
  padding: 5px 8px 15px 10px;

  background-color: #fff;

  margin: 15px 0px;
}

.comment_edit, .comment_delete {
  font-size: 13px;
  margin-right: 5px;
}

/* Comment Form */

.comment_form {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(232,232,232);
  padding: 15px;
}

.comment {
  text-align: left;
  width: 100%;
  resize: none;
  font-size: 20px;
}

.comment_submit {
  width: 100px;
  padding: 10px 5px;
  border: 2px solid rgb(57,169,124);
  border-radius: 4px;
  font-weight: bold;
  background-color: #fff;
  color:  rgb(57,169,124);
}

.reader {
  font-size: 14px;
  padding: 2px;
}

.form_flex {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.comment_section {
  margin: 30px;
  padding-top: 20px;
  background-color: rgb(252, 252, 252);
}

/* User reg form */

.reg_body {
  background-color: rgb(240,240,240);
  background-image: url('../images/reg_background.png');
  background-repeat: no-repeat;
  background-position: center;
}

.reg_heading {
  text-align: center;
  font-size: 28px;
  color: rgb(48,41,41);
  font-weight: 550;
}

.form_wrapper{

  max-width: 460px;
  height: 623px;
  margin: 0 auto;
  padding: 90px 10px 90px 10px;
  margin-bottom: 45px;
  border: 0.5px solid rgb(185, 185, 185);
  border-radius: 3px;
  background-color: #fff;
  padding-bottom: 620px;
}

.reg_para {
  max-width: 350px;
  margin: 30px auto 35px auto;
  text-align: center;
  color: rgb(67,70,73);
}

.reg_input {

  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px 3px;
  border-bottom: 1px solid rgb(217,217,217);

  margin-bottom: 30px;
  font-size: 22px;
  color: rgb(68,47,49);
}


.reg_label {
  display: block; 
  text-align: center;
  font-size: 14px;
}

.reg_signin_msg {
  text-align: center; 
  padding-top: 35px;
}

.reg_submit {

  display: block;
  margin: 0 auto;
  padding: 13px 18px;
  border-radius: 3px;
  background-color: rgb(41,41,41);
  color: rgb(249,245,242);
  font-weight: bold;
  margin-top: 35px;
  
}

.reg_submit:hover {
  background-color: rgb(31, 31, 31);
  color: #fff;
}


.green_link {
  color: rgb(54,159,118);
  font-weight: 550;
}

.reg_header {
  background-color: rgba(255,255,255,0.8);
}

.reg_logo {
  color: rgb(41,41,41);
  font-size: 28px;
  font-weight: 900;
}

.login_body {
  background-color: rgb(240,240,240);
  background-image: url(../images/login_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login_form_wrapper {
  max-width: 515px;
  padding-bottom: 620px;
  
}


.login_para {
  max-width: 300px;
  color: rgb(48,48,48);
  margin: 30px auto 35px auto;
  text-align: center;
  color: rgb(67,70,73);
}

/* Show my articles */

.myarticle_container {
  max-width: 1140px;
  margin: 0 auto;
}

.myarticle_body {
  background-color: #eee;
  padding: 0;
  margin: 0;
}

.myarticle_flex {
  display: flex;
  justify-content: space-between; 
}

.avatar_wrapper {
  padding-bottom: 50px;
  box-shadow: 1px 1px 3px 0px #777;
  border-bottom: 3px dotted rgb(114, 114, 114);
}

.avatar {
  width: 261px;
  object-fit: cover;
  
}


.myarticle_list {
  flex-basis: 70%;
  /* border: 1px solid #777; */
  box-shadow: 1px 1px 3px 0px #777;
  padding: 15px;
}

.myname {
  font-size: 22px;
  color: rgb(99,115,144);
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.myarticle_createdate {
  margin: 10px 0px;
}

.highlight {
  color: rgb(57,169,124);
  font-weight: 550;
}

.article_list_heading {
  font-size: 32px;
  font-weight: bold;
  color: #777;
  padding-bottom: 15px;
  border-bottom: 3px dotted #ddd;
}